a {
	color: black;
}
input {
	width: 50%;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-brand{
	font-weight: bold;
}
video {
	margin-top: 0;
	display: inline;
	padding: 15px;
	width: 100%;
}
.card {
	margin-bottom: 30px;
	height: 500px;
	
}
.card:hover {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	transform: scale(1.05);
}
.card-img-top{
	width:400 px;
	height: 277px;
}
/*@media (max-width: 756px) {
	#search-input{
		display: none;
	}
}*/

